<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Point Chess</title>
        <script src="js/main.js"></script>
    </head>
    <body>
        <a href="/play">Enter Lobby</a>
    </body>
</html>