<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Play</title>

        <link rel="stylesheet" href="css/chessboard-1.0.0.css">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
    </head>
    <body>
        <div class="container">
            <div id="board" style="width: 400px"></div>
            <button id="draw_btn" style="visibility:hidden;">Draw</button>
            <button id="resign_btn" style="visibility:hidden;">Resign</button>
        </div>
        <script src="js/chessboard-1.0.0.min.js"></script>
        <script src="js/play.js"></script>
    </body>
</html>