<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <% if(errorMsg && (errorMsg != "")) { %>
            <p> <%= errorMsg %> </p>
        <% } %>

        <% if(successMsg && (successMsg != "")) { %>
            <p> <%= successMsg %> </p>
        <% } %>
        <div class="form-container">
            <form action="/register" method="POST">
                <label>Username : </label>
                <input type="text" name="username">
                <br>
                <label>Password : </label>
                <input type="password" name="password">
                <br>
                <label>Confirm Password : </label>
                <input type="password" name="confirm_password">
                <br><br>
                <button type="submit">Sign Up</button>
            </form>
            <br>
            <a href="/login">Already have an account? Login</a>
        </div>
    </body>
</html>